<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrqq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles -->
    <link href="../../static/css/blog.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button"
                data-toggle="collapse" data-target="#navbarsContainer">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/" style="color: white">JuniorsBlog</a>
        <div class="collapse navbar-collapse" id="navbarsContainer">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/blogs?order=new;tag=1">最新 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blogs?order=hot;tag=2">最热</a>
                </li>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="搜索"/>
                    <a href="/search?q=ww" class="btn btn-outline-secondary my-2 my-sm-0"><i class="fa fa-search"></i></a>
                </form>

            </ul>
            <div sec:authorize="isAuthenticated()"  class="row" >
                <form action="/logout" th:action="@{/logout}" method="post">
                    <input class="btn btn-outline-success " type="submit" value="退出"/>
                </form>
            </div>
            <div sec:authorize="isAnonymous()">
                <a href="/login" class="btn btn-outline-success my-2 my-sm-0" type="submit">登录</a>
                <a href="/register" class="btn btn-outline-success my-2 my-sm-0" type="submit">注册</a>
            </div>
        </div>
    </div>
</nav>
<div class="container blog-content-container">
    <br/>
    <div class="row">
        <!-- 左侧栏目 -->
        <div class="col-md-4 col-xl-3">
            <!-- 分类 -->
            <div class="card ">
                <h5 class="card-header"><i class="fa fa-bars" aria-hidden="true"></i> 菜单</h5>

                <ul class="list-group blog-menu"  th:each="menu : ${model.list}">
                    <a href="javascript:void(0)" class="list-group-item "  th:title="${menu.name}" th:text="${menu.name}"
                       data-th-attr="url=${menu.url}">
                        用户管理
                    </a>
                </ul>
            </div>

        </div>
        <!-- 右侧栏目 -->
        <div class="col-md-8 col-xl-9">
            <div class="card" id="rightContainer">
            </div>
        </div>
    </div>
</div>

<br/>
<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
    <div class="container">
        <a class="navbar-brand" href="/" style="color: white;text-align: center">Welcome to Juniors.com</a>
    </div>
</nav>
</body>

<script type="text/javascript">

    $(".blog-menu .list-group-item").click(function () {

        var  url = $(this).attr("url");


    });

</script>
</html>