<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultrqq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles -->
    <link href="../../static/css/blog.css" rel="stylesheet"/>
</head>
<body>
<div data-th-fragment="header">
    <h1>Run As One</h1>

<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button"
                data-toggle="collapse" data-target="#navbarsContainer">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/" style="color: white">JuniorsBlog</a>
        <div class="collapse navbar-collapse" id="navbarsContainer">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/users">首页<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>
</body>
</html>